@import "tailwindcss";
@plugin "@tailwindcss/typography";
@config "../../tailwind-typography.config.js";

:root {
  /* размер контейнера */
  --container-width: 1306px;

  /* размер контейнера laptop */
  --container-laptop: 920px;

  /* размер контейнера tablet */
  --container-tablet: 640px;

  /* отступ контейнера */
  --container-padding: 20px;

  --transition: 0.2s ease-in-out;
}

@theme {
  --breakpoint-desktop: 1280px;
  --breakpoint-laptop: 1024px;
  --breakpoint-tablet: 768px;
  --breakpoint-phone: 576px;
}
