---
import Layout from "@components/Layout.astro";
import Section from "@components/Section.astro";
---

<Layout title="Главная страница" scripts={["front-page"]}>
  <Section> Главная страница </Section>
</Layout>
