---
import Layout from "../components/Layout.astro";
---

<Layout title="123">
  <div class="section">
    <div class="section__container">123</div>
  </div>
</Layout>

<style lang="scss">
  .section {
    @include section;

    &__container {
      grid-area: center;
    }
  }
</style>
