---
import Icon from "./Icon.astro";

interface Props {
  items?: { title: string; text: string }[];
}
const { items } = Astro.props;
---

<div class:list={["accordion"]}>
  <div class="accordion__container">
    {
      items?.map(({ title, text }) => (
        <div class="accordion__item ac">
          <div class="ac-trigger">
            <div class="ac-title">{title}</div>
            <div class="accordion-icon">
              <Icon icon="cross" class="accordion-icon__clear" />
            </div>
          </div>
          <div class="ac-panel">
            <div class="ac-content">{text}</div>
          </div>
        </div>
      ))
    }
  </div>
</div>

<style is:global lang="scss">
  .accordion {
    &__container {
      display: flex;
      flex-wrap: wrap;
      row-gap: 5px;
    }

    &__item {
      width: 100%;
      background-color: rgba(202, 201, 201, 0.301);
    }

    & .ac-trigger {
      display: flex;
      justify-content: space-between;
      &::after {
        content: unset;
      }
    }

    & .ac-title {
      display: flex;
      align-items: center;
      color: black;
      font-weight: 500;
      font-size: 14px;
    }

    &-icon {
      font-size: 12px;
      width: 24px;
      height: 24px;
      border-radius: 100%;
      color: #fff;
      background-color: var(--color-stone-500);

      display: flex;
      align-items: center;
      justify-content: center;
      transition: all var(--transition);
      transform: rotate(45deg);
    }

    & .is-active .accordion-icon__clear {
      transition: all var(--transition);
      transform: rotate(0deg);
    }

    & .ac-content {
      width: 100%;
      color: black;
      padding-inline: 8px;
      padding-bottom: 20px;
    }

    & .ac .ac-trigger {
      padding: 8px;
    }

    & .is-active {
      background-color: rgba(139, 133, 133, 0.342);
    }

    & .ac {
      margin-bottom: unset;
    }
  }
</style>
